<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>UML Framework: UMLSync</title>
    <link rel="stylesheet" type="text/css" href="css/github.css"/>
    <link href="css/gray-start/jquery-ui-1.8.17.custom.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="js/lib/scrollabletab/css/jquery.ui.tabs.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="css/main.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/umlsync.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/simple_menu.css" type="text/css" media="all"/>
    <link rel="stylesheet/less" href="css/main.less" type="text/css" media="screen"/>

    <link rel="stylesheet" href="css/speachBubble.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="css/dynatree/src/skin/ui.dynatree.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="js/lib/google-code-prettify/src/prettify.css" type="text/css" media="screen"/>
    <script src="js/lib/google-code-prettify/src/prettify.js"></script>


    <!--link rel="stylesheet" href="js/3pp/simple-color-picker/jquery.simple-color-picker.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="./js/3pp/tablesorter/themes/blue/style.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="./js/3pp/dynatree/src/skin-vista/ui.dynatree.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="./js/3pp/google-code-prettify/src/prettify.css" type="text/css" media="screen"/>
    <script src="js/3pp/underscore.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/3pp/backbone/backbone.js"></script>
    <script src="js/3pp/backbone.marionette.js"></script>
    <script src="js/github.js"></script>
    <script src="js/jquery-ui.js"></script-->

    <script src="css/less.js" type="text/javascript"></script>

    <!--script src="js/3pp/scrollabletab/js/jquery.scrollabletab.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/ui.selectmenu.js"></script>
    <script type="text/javascript" src="js/3pp/simple-color-picker/jquery.simple-color-picker.js"></script>
    <script type="text/javascript" src="js/jqsimplemenu.js"></script>
    <script type="text/javascript" src="js/jquery.combomenu.js"></script>
    <link rel="stylesheet" href="css/simple_menu.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="js/3pp/tipsy/tipsy.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/jqsimplemenu.css" type="text/css" media="screen" />
    <link rel='stylesheet' type='text/css' href='js/3pp/skin/ui.dynatree.css'>
    <script src="./js/3pp/jLog/jLog.min.js"></script>
    <script src="./js/3pp/editable/editable.js"></script>
    <script src="./js/3pp/metadata/jquery.metadata.js"></script>
    <script src="./js/3pp/tablesorter/jquery.tablesorter.js"></script>
    <script src="./js/3pp/jquery.tools.min.js"></script>
    <script src="./js/3pp/contextmenu/jquery.contextmenu.js"></script>
    <script src="./js/3pp/dynatree/jquery.dynatree.js" type="text/javascript"></script>
    <script src="./js/3pp/base64/jquery.base64.js"></script>
    <script src="./js/3pp/google-code-prettify/src/prettify.js"></script>
    <script type="text/javascript" src="./js/3pp/jquery-fieldselection/jquery-fieldselection.js"></script-->
    <style>
        label, input {
            display: inline;
        }

        fieldset {
            padding: 0;
            border: 0;
            margin-top: 5px;
        }

        h1 {
            font-size: 1.2em;
            margin: .6em 0;
        }

        div#users-contain {
            width: 350px;
            margin: 20px 0;
        }

        div#users-contain table {
            margin: 1em 0;
            border-collapse: collapse;
            width: 100%;
        }

        div#users-contain table td, div#users-contain table th {
            border: 1px solid #eee;
            padding: .6em 10px;
            text-align: left;
        }

        .ui-dialog .ui-state-error {
            padding: .3em;
        }

        .validateTips {
            border: 1px solid transparent;
            padding: 0.3em;
        }

        .left {
            float: left;
        }

        .left2 {
            overflow: hidden;
            display: block;
            padding: 0 6px 0 5px;
        }

        .left2 input {
            width: 100%;
        }

        .ui-tabs-panel div#readme article {
            background-color: white;
        }

        .ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
            opacity: 1;
        }
    </style>
    <!--script src="./js/3pp/showdown/src/showdown.js"></script>
    <script src="./js/3pp/showdown/src/extensions/umlsync.js"></script>
    <script src="./js/3pp/tipsy/jquery.tipsy.js"></script>
    <script src="./dm/ds/diagram.js"></script>
    <script src="./dm/ds/base.js"></script>
    <script src="dm/ms/ds/common.js"></script>
    <script src="./dm/ds/sequence.js"></script>
    <script src="./dm/dm/loader.js"></script>
    <script src="./dm/dm/LocalhostView.js"></script>
    <script src="./dm/dm/Githubview.js"></script>
    <script src="./dm/dm/LocalFilesView.js"></script>
    <script src="./dm/dm/SelfAnalysisView.js"></script>
    <script src="./dm/hs/menu.js"></script>
    <script src="./dm/ms/us/dialogs.js"></script>
    <script src="./dm/es/class.js"></script>
    <script src="./dm/es/note.js"></script>
    <script src="./dm/cs/nested.js"></script>
    <script src="./dm/cs/arc.js"></script>
    <script src="./dm/cs/aggregation.js"></script>
    <script src="./dm/cs/composition.js"></script>
    <script src="./dm/cs/llsequence.js"></script>
    <script src="./dm/cs/transition.js"></script>
    <script src="./dm/hs/umlsync.js"></script>
    <script src="./dm/hs/snippets.js"></script>
    <script src="./dm/hs/markdown.js"></script>
    <script src="./dm/hs/codeview.js"></script>
    <script src="./dm/hs/framework.js"></script>
    <script src="./dm/ms/ds/common.js"></script>
    <script src="./dm/ms/ctx/class.js"></script-->

    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="js/lib/backbone-min.js"></script>
    <script type="text/javascript" src="js/lib/backbone.marionette.js"></script>

    <script id="content-left-layout" type="text/template">
        <div id="switcher" style="background-color:gray;">
            <div id="us-viewmanager" class="ui-state-default"></div>
            <div id="us-views"></div>
        </div>
    </script>

    <script id="github-content-layout" type="text/template">
        <div id="us-repo-select"></div>
        <div id="us-branch-select"></div>
        <div id="us-toolbox"></div>
        <div id="us-treetabs" style="height: 370px;"></div>
    </script>

    <script id="localhost-content-layout" type="text/template">
        <div id="us-toolbox"></div>
        <div id="us-treetabs" style="height: 370px;"></div>
    </script>


    <script id="us-toolbox-template" type="text/template">
        <ul id="us-github-list" style="list-style:none;"></ul>
    </script>

    <script id="umlsync-content-loading-template" type="text/template">
        <div><img id="puh" src="images/Puh.gif"/></div>
    </script>

    <script id="umlsync-content-failed-template" type="text/template">
        <div>Something failed</div>
    </script>

    <script id="umlsync-markdown-view-template" type="text/template">
        <span class="us-diagram-toolbox">
            <a id="us-link"><span id="us-getlink">Get link</span></a>
            <a id="us-link"><span id="us-diagram-edit">Edit</span></a>
            <br>
            <div id="us-getlink-content"><label>Absolute path:</label><p><input value="<%= absPath %>"/></p>
            </div>
        </span>
        <div class="us-diagram announce instapaper_body md" data-path="/" id="readme"><span class="name">
            <span class="mini-icon mini-icon-readme"></span> <%= title %></span>
            <article class="markdown-body entry-content" itemprop="mainContentOfPage">
              <%= showMarkdownViewContent() %>
            </article></div>
    </script>

    <script id="umlsync-sourcecode-view-template" type="text/template">
        <span class="us-diagram-toolbox">
            <a id="us-link"><span id="us-getlink">Get link</span></a>
            <a id="us-link"><span id="us-diagram-edit">Edit</span></a>
        </span>
        <div class='us-sourcecode'>
            <pre class='prettyprint linenums:1'><%= content %></pre>
        </div>
    </script>

    <script id="umlsync-diagram-view-template" type="text/template">
        <span class="us-diagram-toolbox">
            <a id="us-link"><span id="us-getlink">Get link</span></a>
            <a id="us-link"><span id="us-diagram-edit">Edit</span></a>
            <br>
            <div id="us-getlink-content">
                <label>Absolute path:</label>
                <p><input value="http://umlsync.org/github/umlsynco/diagrams/master//diagrams/classDiagramCommitRefTest.umlsync"></p>
            </div>
        </span>
    </script>


    <script id="umlsync-new-diagram-dialog-template" type="text/template">
            <div tabindex="-1" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable ui-resizable" style="display: block; z-index: 1002; outline: 0px none; position: absolute; height: auto; width: 300px; top: 75.5px; left: 409px;">
                <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
                    <span id="ui-dialog-title-new-diagram-dialog" class="ui-dialog-title">Creating new diagram   [<span>umlsynco/diagrams</span>]</span>
                    <a role="button" class="ui-dialog-titlebar-close ui-corner-all" href="#"><span class="ui-icon ui-icon-closethick">close</span></a>
                </div>
                <div scrollleft="0" scrolltop="0" style="width: auto; min-height: 60.4px; height: auto;" class="ui-dialog-content ui-widget-content ui-not-draggable" id="new-diagram-dialog">
					<form id="us-dialog-newdiagram">
						<fieldset>
							<div id="selectable-list" style="scroll:auto;">
								<!-- ul id="diagram-menu">
									<li id="0" class="diagram-selector" style="cursor:pointer;list-style-image:url('././dm/icons/us/dss/classDiagram.png');">
										<a>UML class diagram</a>
									</li>
									<li id="1" class="diagram-selector" style="cursor:pointer;list-style-image:url('././dm/icons/us/dss/componentDiagram.png');">
										<a>UML component diagram</a>
									</li>
									<li id="2" class="diagram-selector" style="cursor:pointer;list-style-image:url('././dm/icons/us/dss/packageDiagram.png');">
										<a>UML package diagram</a>
									</li>
									<li id="3" class="diagram-selector" style="cursor:pointer;list-style-image:url('././dm/icons/us/dss/sequenceDiagram.png');">
										<a>UML sequence diagram</a>
									</li>
									<li id="4" class="diagram-selector" style="cursor:pointer;list-style-image:url('././dm/icons/us/dss/markDown.png');">
										<a>Markdown text document</a>
									</li>
									<li id="5" class="diagram-selector" style="cursor:pointer;list-style-image:url('././dm/icons/us/dss/snippets.png');">
										<a>Snippet bubbles</a>
									</li>
								</ul -->
							</div>
							<br>
							<p id="us-new-diagram-dialog-readio" class="ui-widget-header ui-corner-all">
								<input value="umlsync" name="type" checked="true" type="radio">JSON      
								<input value="us.svg" name="type" style="margin-left:25px;" type="radio">SVG      
								<input value="text" name="type" style="margin-left:25px;" disabled="true" type="radio">PlantUML
							</p>
							<p><label id="VP_error" style="margin-top:0px;float:left;font-color:red;">Select the name of the new file:</label></p>
							<br>
							<p class="ui-widget-header ui-corner-all">
								<input id="us-new-diagram-dialog-input" checked="checked" class="left" style="margin: 4px 0px 4px 4px;" type="checkbox">
								<span class="left2">
									<input aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" class="ui-autocomplete-input" id="VP_inputselector" value="/" maxlength="256" pattern="[a-zA-Z ]{5,}" name="name" type="text" list="umlsync-path-datalist">
                                    <datalist id="umlsync-path-datalist">
                                    </datalist>
								</span>
							</p>
                            <p><label id='us-status-line'></label></p>
						</fieldset>
					</form>
				</div>
				<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
					<div class="ui-dialog-buttonset">
						<button aria-disabled="false" role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-not-draggable ui-button-create" type="button">
							<span class="ui-button-text">Create</span>
						</button>
						<button aria-disabled="false" role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-not-draggable ui-button-cancel" type="button">
							<span class="ui-button-text">Cancel</span>
						</button>
					</div>
				</div>
			</div>
    </script>

    <script id="umlsync-diagram-view-template" type="text/template">
        <span class="us-diagram-toolbox">
            <a id="us-link"><span id="us-getlink">Get link</span></a>
            <a id="us-link"><span id="us-diagram-edit">Edit</span></a>
        </span>
        <div class='us-sourcecode'>
            <pre class='prettyprint linenums:1'><%= content %></pre>
        </div>
    </script>

    <script id="umlsync-markdown-view-template" type="text/template">
        <span class="us-diagram-toolbox">
            <a id="us-link"><span id="us-getlink">Get link</span></a>
            <a id="us-link"><span id="us-diagram-edit">Edit</span></a>
            <br>
            <div id="us-getlink-content"><label>Absolute path:</label><p><input value="<%= absPath %>"/></p>
            </div>
        </span>
        <div class="us-diagram announce instapaper_body md" data-path="/" id="readme"><span class="name">
            <span class="mini-icon mini-icon-readme"></span> <%= title %></span>
            <article class="markdown-body entry-content" itemprop="mainContentOfPage">
              <%= showMarkdownViewContent() %>
            </article></div>
    </script>

    <script id="umlsync-markdown-edit-template" type="text/template">
        <span class="us-diagram-toolbox">
            <a id="us-link"><span id="us-getlink">Get link</span></a>
            <a id="us-link"><span id="us-diagram-edit">View</span></a>
            <br>
            <div id="us-getlink-content"><label>Absolute path:</label><p><input value="<%= absPath %>"/></p>
            </div>
        </span>

        <span class="us-toolbox-header">
          <ul style="list-style:none outside none;">
                    <li class="us-toolbox-button us-toolbox-h1"><a title="Heading 1 [Ctrl+1]" accesskey="1" postfix="\n========\n">First Level Heading</a></li>
                    <li class="us-toolbox-button us-toolbox-h2"><a title="Heading 2 [Ctrl+2]" accesskey="2" postfix="\n--------\n" href="">Second Level Heading</a></li>
                    <li class="us-toolbox-button us-toolbox-h3"><a title="Heading 3 [Ctrl+3]" accesskey="3" prefix="### " href="">Heading 3</a></li>
                    <li class="us-toolbox-button us-toolbox-h4"><a title="Heading 4 [Ctrl+4]" accesskey="4" prefix="#### " href="">Heading 4</a></li>
                    <li class="us-toolbox-button us-toolbox-h5"><a title="Heading 5 [Ctrl+5]" accesskey="5" prefix="##### " href="">Heading 5</a></li>
                    <li class="us-toolbox-button us-toolbox-h6"><a title="Heading 6 [Ctrl+6]" accesskey="6" prefix="###### " href="">Heading 6</a>
                    </li><li class="us-toolbox-separator">&nbsp</li>
                    <li class="us-toolbox-button us-toolbox-bold"><a title="Bold [Ctrl+B]" accesskey="B" prefix="**" postfix="**">Bold</a></li>
                    <li class="us-toolbox-button us-toolbox-italic"><a title="Italic [Ctrl+I]" accesskey="I" prefix="_" postfix="_">Italic</a></li>
                    <li class="us-toolbox-separator">&nbsp</li>
                    <li class="us-toolbox-button us-toolbox-bullet "><a title="Bulleted List" prefix="- ">Bulleted List</a></li>
                    <li class="us-toolbox-button us-toolbox-numlist"><a title="Numeric List" prefix="1. ">Numeric List</a></li>
                    <li class="us-toolbox-separator">&nbsp</li>
                    <li class="us-toolbox-button us-toolbox-pic"><a title="Picture [Ctrl+P]" accesskey="P" prefix="">Picture</a></li>
                    <li class="us-toolbox-button us-toolbox-link"><a title="Link [Ctrl+L]" accesskey="L" prefix="">Link</a></li>
                    <li class="us-toolbox-separator">&nbsp</li>
                    <li class="us-toolbox-button us-toolbox-quotes"><a title="Quotes" prefix="> ">Quotes</a></li>
                    <li class="us-toolbox-button us-toolbox-code"><a title="Code Block / Code" prefix="<code>" postfix="</code>">Code Block / Code</a></li>
                    <li class="us-toolbox-separator">&nbsp</li>
                    <li class="us-toolbox-button us-toolbox-diagram"><a title="Insert diagram reference" prefix="diagram">Diagram reference / Diagram</a></li>
                    <li class="us-toolbox-separator">&nbsp</li>
          </ul>
        </span>
        <br>
        <textarea rows="20" cols="80" id="markdown" class="us-markdown-editor"><%= showContent() %></textarea>
    </script>

    <script id="umlsync-confirmation-dialog-template" type="text/template">
      <div aria-labelledby="ui-dialog-title-us-dialog-confirm" role="dialog" tabindex="-1" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable" style="display: block; z-index: 1002; outline: 0px none; height: auto; width: 300px; top: 102.5px; left: 567px;">
        <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
            <span id="ui-dialog-title-us-dialog-confirm" class="ui-dialog-title">Save: <%= title %></span>
            <a role="button" class="ui-dialog-titlebar-close ui-corner-all" href="#"><span class="ui-icon ui-icon-closethick">close</span></a>
        </div>
        <div scrollleft="0" scrolltop="0" style="width: auto; min-height: 0px; height: 50.4px;" class="ui-dialog-content ui-widget-content" id="us-dialog-confirm">
          <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Save file: "<%= absPath %>" ?</p>
        </div>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <div class="ui-dialog-buttonset">
                <button aria-disabled="false" role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button"><span class="ui-button-text">Yes</span></button>
                <button aria-disabled="false" role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button"><span class="ui-button-text">No</span></button>
                <button aria-disabled="false" role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button"><span class="ui-button-text">Cancel</span></button>
            </div>
        </div>
      </div>
    </script>

    <script id="umlsync-saveas-dialog-template" type="text/template">
        <div scrollleft="0" scrolltop="0" style="width: auto; min-height: 0px; height: 64.4px;" class="ui-dialog-content ui-widget-content" id="save-as-dialog"><p id="dl-validation-tip" style="color:red;"></p><form><fieldset>      <div style="display:inline;"><label for="name">Name:</label>      <input aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" name="name" id="us-saveas-autocomplete-input" class="text ui-widget-content ui-corner-all ui-autocomplete-input" type="text"></div>      </fieldset>      </form></div>
        <div aria-labelledby="ui-dialog-title-us-dialog-confirm" role="dialog" tabindex="-1" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable" style="display: block; z-index: 1002; outline: 0px none; height: auto; width: 300px; top: 102.5px; left: 567px;">
            <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
                <span id="ui-dialog-title-us-dialog-confirm" class="ui-dialog-title">Save: <%= title %></span>
                <a role="button" class="ui-dialog-titlebar-close ui-corner-all" href="#"><span class="ui-icon ui-icon-closethick">close</span></a>
            </div>
            <div scrollleft="0" scrolltop="0" style="width: auto; min-height: 0px; height: 50.4px;" class="ui-dialog-content ui-widget-content" id="us-dialog-confirm">
                <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Save file: "<%= absPath %>" ?</p>
            </div>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <div class="ui-dialog-buttonset">
                    <button aria-disabled="false" role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button"><span class="ui-button-text">Yes</span></button>
                    <button aria-disabled="false" role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button"><span class="ui-button-text">No</span></button>
                    <button aria-disabled="false" role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button"><span class="ui-button-text">Cancel</span></button>
                </div>
            </div>
        </div>
    </script>


    <script id="umlsync-list-template" type="text/template">
        <ul>
            <li class="diagramSelector" style="cursor:pointer;" id="umlsynco/diagrams">
                <span>umlsynco/diagrams</span>
            </li>
            <li class="diagramSelector" style="cursor:pointer;" id="umlsynco/amaterasuml">
                <span>umlsynco/amaterasuml</span>
            </li>
            <li class="diagramSelector" style="cursor:pointer;" id="umlsynco/github">
                <span>umlsynco/github</span>
            </li>
        </ul>
    </script>

    <script id="umlsync-listitem-template" type="text/template">
        <span id="<%= getTitle() %>"><%= getTitle() %></span>
    </script>

    <script id="umlsync-tabitem-template" type="text/template"><%= title %></script>

    <script id="umlsync-tabs-template" type="text/template">

    </script>


    <script id="umlsync-multitabs-dialog-template" type="text/template">
        <div aria-labelledby="ui-dialog-title-repo-selection-dialog" role="dialog" tabindex="-1"
             class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable ui-resizable"
             style="z-index: 1003; outline: 0px none; position: absolute; height: auto; width: 300px; left: -1px;">
            <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix"><span
                    id="ui-dialog-title-repo-selection-dialog" class="ui-dialog-title">Select <%= title %></span><a
                    role="button" class="ui-dialog-titlebar-close ui-corner-all" href="#"><span
                    class="ui-icon ui-icon-closethick">close</span></a></div>
            <div scrollleft="0" scrolltop="0" style="width: auto; min-height: 0px; height: auto;"
                 class="ui-dialog-content ui-widget-content" id="repo-selection-dialog">
                  <div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                        </ul>
                        <div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="us-list">
                        </div>
                 </div>
            </div>
        </div>
    </script>

    <script id="umlsync-menu-dropdown-template" type="text/template">
        <div class="dropdown-widget" id="us-<%= id %>">
            <div class="select-menu">
                <a class="minibutton select-menu-button js-menu-target">
                    <span class="mini-icon mini-icon-branch"></span> <i><%= title %>:</i> <span
                        class="js-select-button"><%= showActive() %></span>
                </a>
            </div>
            <div id="umlsync-dropdown-region"></div>
        </div>
    </script>

    <script id="us-snippets-template" type="text/template">
       <div aria-labelledby="ui-dialog-title-snippet-navigator-dialog" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable ui-resizable" style="display: block; z-index: 1012; outline: 0px none; position: absolute; height: 169.6px; width: 349.6px; top: 215.5px; left: 262px;">
		   <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
				<span style="display: block;" id="ui-dialog-title-snippet-navigator-dialog" class="ui-dialog-title">Snippet.us.snippet</span>
				<a style="display: none;" role="button" class="ui-dialog-titlebar-close ui-corner-all" href="#">
					<span class="ui-icon ui-icon-closethick">close</span>
				</a>
				<div id="us-snippets-toolbox">
					<ul class="ui-widget ui-helper-clearfix">
						<li class="ui-state-default ui-corner-all" title="First Comment"><span class="ui-icon ui-icon-seek-first"></span></li>
						<li class="ui-state-default ui-corner-all" title="Previous Comment"><span class="ui-icon ui-icon-seek-prev"></span></li>
						<li class="ui-state-default ui-corner-all" title="Stop and Save snippets"><span class="ui-icon ui-icon-stop"></span></li>
						<li class="ui-state-default ui-corner-all" title="Stop and Save snippets"><span class="ui-icon ui-icon-pause"></span></li>
						<li class="ui-state-default ui-corner-all" title="Start Snippet"><span class="ui-icon ui-icon-comment"></span></li>
						<li class="ui-state-default ui-corner-all" title="Next Comment"><span class="ui-icon ui-icon-seek-next"></span></li>
						<li class="ui-state-default ui-corner-all" title="Switch to the final Comment"><span class="ui-icon ui-icon-seek-end"></span></li>
					</ul>
				</div>
			</div>
			<div scrollleft="0" scrolltop="0" style="width: auto; min-height: 0px; height: 117.4px; display: block;" class="ui-dialog-content ui-widget-content" id="snippet-navigator-dialog">
				<div id="snippets" style="width: 100%; height: 100%;">
					<div id="selectable-list" style="scroll:auto;">
						<ul class="ui-sortable" id="snippets-list"></ul>
					</div>
				</div>
			</div>
		</div>
    </script>
    
    <script id="us-diagram-menu-template" type="text/template">
		<div aria-labelledby="ui-dialog-title-commit-changes-dialog" role="dialog" tabindex="-1" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable ui-resizable" style="display: block; z-index: 1004; outline: 0px none; position: absolute; height: auto; width: 150px;">
            <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
                <span id="ui-dialog-title-commit-changes-dialog" class="ui-dialog-title">Select UML element:</span>
                <a role="button" class="ui-dialog-titlebar-close ui-corner-all" href="#">
                    <span class="ui-icon ui-icon-closethick">close</span>
                </a>
            </div>
        
			<div id="us-diagram-menu-accordion">Accordion area</div>
			</div>
	</script>

    <script id="umlsync-snippet-bubble" type="text/template">
        <div style="left: 248px; top: 239px; width: 250px; height: 100px;" id="snippet_bubble" class="us-snippet">
            <p tabindex="1" class="triangle-border top" id="vrrrrrrrrrrrrrr"><%=comment%></p>
            <span style="position:absolute;right:50px;top:15px;" class="ui-icon ui-icon-check"></span>
            <span style="position:absolute;right:30px;top:15px;" class="ui-icon ui-icon-cancel"></span>
            <span style="position:absolute;right:10px;top:15px;" class="ui-icon ui-icon-trash"></span>
        </div>

</script>
    <script id="umlsync-commit-dialog-template" type=
            "text/template">
        <div aria-labelledby="ui-dialog-title-commit-changes-dialog" role="dialog" tabindex="-1" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable ui-resizable" style="display: block; z-index: 1004; outline: 0px none; position: absolute; height: auto; width: 550px; top: 241px; left: 433.5px;">
            <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
                <span id="ui-dialog-title-commit-changes-dialog" class="ui-dialog-title">Commit data:</span>
                <a role="button" class="ui-dialog-titlebar-close ui-corner-all" href="#">
                    <span class="ui-icon ui-icon-closethick">close</span>
                </a>
            </div>
            <div scrollleft="0" scrolltop="0" style="width: auto; min-height: 0px; height: 194.4px;" class="ui-dialog-content ui-widget-content" id="commit-changes-dialog">
                <div id="list-item"><div><div class="scrollable" style="scroll:auto;">
                    <table id="us-commit-table" class="tablesorter">
                        <thead><tr class="header"><th></th><th>File path</th></tr></thead>
                    </table>
                </div>
                    <p><label>Commit message: </label>
                        <br>
                        <textarea id="us-commit-message" maxlength="300" pattern="[a-zA-Z ]{5,}" style="width:99%;"></textarea>
                        <br>
                        <label id="us-commit-status"></label>
                    </p>
                </div>
                </div>
            </div>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <div class="ui-dialog-buttonset">
                    <button aria-disabled="false" role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button">
                        <span class="ui-button-text">Commit</span>
                    </button>
                    <button aria-disabled="false" role="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button">
                        <span class="ui-button-text">Cancel</span>
                    </button>
                </div>
            </div>
        </div>
    </script>
</head>
<body>
<div id="body">
    <div class="header-nav ui-state-active" id="content-header">
        <div>
            <ul id="header-menu" class="header-menu-left"></ul>
        </div>
        <div>
            <ul class="header-menu-right">
                <li><a href="http://http://umlsync.org/">Log out</a></li>
                <li><a href="http://127.0.0.1:8000/about">About</a></li>
                <li><a href="#">Settings </a></li>
                <li><a href="#">Report a bug</a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div id="content-left" style="width:200px;height:100%;padding:0;margin:0;position:absolute;">
        </div>
        <div id="content-left-right-resize"
             style="width:6px;left:200px;height:100%;position:absolute;padding:0;margin:0;border:0px solid gray;background-color:gray;cursor: col-resize;"></div>
        <div id="content-right" style="left:206px;height:100%;position:absolute;padding:0;margin:0;">
            <div id="diagram-menu">
            </div>
            <div id="tabs">
                <ul>
                </ul>
                <div id="diagram-iconmenu-region"></div>
            </div>
        </div>

    </div>
    <div id="content-bottom" style="clear:both;">bottom</div>
    <div id="content-dialog" style="position:absolute;visibility:hidden;"></div>
    <div id="context-menu-region" style="position:absolute;visibility:hidden;"></div>
</div>
    <script type="text/javascript" src="js/lib/require.js" data-main="js/main.js"></script>
  <div style="width: 1455px; height: 353px; z-index: 1001; display:none;" class="ui-widget-overlay"></div>
</body>
</html>
